body{
    margin:auto;
    padding:auto;
    background-color:none;
    color:white;
   text-align:center;
   
    
   
}

/* Navigation Bar */
.navBar ul{
    list-style-type:none;
    text-align:center;
    margin:auto;
    padding:inherit;
    overflow: hidden;
    background-color: ;
    font-family: cursive;
     font-size: 30px;
}
.navBar li {
    float: left;
}
.nav-el{
    display:inline-block;
    color:##80f3f4 ;
    text-align: center;
    padding: 22px 22px;
    text-decoration: none;     
    border-right: 1px solid inherit ;         
}
a:hover{ background-color:#36CCCC }
.active{
    background-color:#56EEF8;
    }
