body{
    margin:auto;
    padding:auto;
    background-color:white;
    color:white;
    text-align: center;
}

/* Navigation Bar */
.navBar ul{
    list-style-type:none;
    text-align:center;
    margin:auto;
    padding:inherit;
    overflow: hidden;
    background-color: white ;
    font-family: cursive;
}
.navBar li {
    float: left;
}
.nav-el{
    display:inline-block;
    color:56EEF8 ;
    text-align: center;
    padding: 22px 22px;
    text-decoration: none;     
    border-right: 1px solid inherit ;         
}
.active{
    background-color:56EEF8;
    color:white;
}
