body{
    margin:auto;
    padding:auto;
    background-color:;
    color:;
    text-align: left;
}


/* Navigation Bar */
.navBar ul{
    list-style-type:none;
    text-align:center;
    margin:auto;
    padding: 0;
    overflow: hidden;
    background-color: none ;
    font-family: cursive;
}
.navBar li {
    float: left;
}
.nav-el{
    display: grid;
    color:;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;     
    border-right: 1px solid #bbb;         
}
