body{
    margin:auto;
    padding:auto;
    background-color:F1F1F1;
    color:none;
    text-align:-webkit-match-parent;
    font-family:system-ui;
}


/* Navigation Bar */
.navBar ul{
    list-style-type:none;
    text-align:center;
    margin:auto;
    padding:inherit;
    overflow: hidden;
    background-color: none ;
    font-family: cursive;
    font-size: 30px;
}
.navBar li {
    float: left;
}
.nav-el{
    display:inline-block;
    color:56EEF8;
    text-align: center;
    padding: 22px 22px;
    text-decoration: none;     
    border-right: 1px solid  inherit ;         
}
.active{
    background-color:56EEF8;
    color:white;
}
img {
  display: block;
  margin-left: 30%;
  margin-right: 70%;
  width:30%
}
.button {
  border: none;
  color: 15EAB2;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: right;
  font-size:30px;
  margin: 8px 45px;
  cursor: pointer;
  font-family:cursive;
}
.button1 {background-color:15EAB2 ;} /*15EAB2*/
