body{
    margin:auto;
    padding:auto;
    background-color:none;
    color:none;
    text-align: center;
    font-family:system-ui;
}


/* Navigation Bar */
.navBar ul{
    list-style-type:none;
    text-align:center;
    margin:auto;
    padding:inherit;
    overflow: hidden;
    background-color: none ;
    font-family: cursive;
    font-size: 20px;
}
.navBar li {
    float: left;
}
.nav-el{
    display:inline-block;
    color:56EEF8;
    text-align: center;
    padding: 22px 22px;
    text-decoration: none;     
    border-right: 1px solid  inherit ;         
}
.active{
    background-color:56EEF8;
    color:white;
}
img {
  display: block;
  margin-left: 30%;
  margin-right: 70%;
  width:30%
}
